In [46]:
import pandas as pd

In [47]:
from unidecode import unidecode

In [48]:
#import app_config as ac

In [49]:
#est.est_info("*** Process has started ***")
print("*** Process has started ***")

*** Process has started ***

In [135]:
data = []
with open("SN_Assignment_Groups.csv", "r") as f:
    readlines = f.readlines()
    for line in readlines:
        #lines.split(',')
        data_parts = line.split(',')
        #data_parts         
    
        sn_value = ",".join(str(data_parts[:-1]))
        #sn_value
    
        #cur_row = line.split(',')
        #cur_row
    
    for cur_row in readlines:        
        sn_value = ",".join(str(data_parts[:-1]))
        cur_row = line.split(',')
        data.append([cur_row[-1], ",".join(cur_row[:-1])])

In [136]:
df = pd.DataFrame(data, columns = ['SYSID', 'ASSIGNMENT_GROUP'])

In [137]:
df.to_csv('SN_Assignment_Groups_Updated.csv', index=False)
df.head()

  SYSID                                   ASSIGNMENT_GROUP
0    \n  Workplace Hosting,6ac2b62513722a0455c638128144...
1    \n  Workplace Hosting,6ac2b62513722a0455c638128144...
2    \n  Workplace Hosting,6ac2b62513722a0455c638128144...
3    \n  Workplace Hosting,6ac2b62513722a0455c638128144...
4    \n  Workplace Hosting,6ac2b62513722a0455c638128144...